    <div id="page">
      <div id="content">
        <div id="header">
          <h2>You&rsquo;re riding Ruby on Rails!</h2>
        </div>

        <div id="about">
          <div id="about-content">Comming Soon..!</div>
        </div>

         <div id="getting-started">
          <img src="/images/train.jpg" width=350 height=450/>
         </div> 
    </div>
    </div>